@model KnotExe.Models.Post

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row text-knot-white">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PosTexto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PosTexto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PosMedia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PosMedia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PosData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PosData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PosTipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PosTipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.UsuEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.idPost">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
