@model IEnumerable<KnotExe.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table text-knot-white">
    <thead>
        <tr class="text-knot-white">
            <th>
                @Html.DisplayNameFor(model => model.PosTexto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PosMedia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PosData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PosTipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="text-knot-white">
            <td>
                @Html.DisplayFor(modelItem => item.PosTexto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PosMedia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PosData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PosTipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.UsuEmail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idPost">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idPost">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idPost">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
